.brown-sugar {
    color: brown;
    font-family: 'Times New Roman', Times, serif
}


#table-yuk {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 500px;
    background-color: aqua;
    padding: 20px;
}