* {
    margin: 0 auto;
}


body {background: url(./images/backgroud\ 1.jpg)}

#Judul {
    font-size: 24;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    width: 350px;
    background-color: rgb(209, 242, 242); ; 
    padding: 15px; 
    display: block;
    text-align: center;
}

#Gambar {
   margin-left: 650px;
   margin-top: 20px;

    
}

#Biodata { 
    margin-left: 475px;
    font-style: normal; 
    font-size: 17px; 
    font-family: 'Times New Roman', Times, serif; 
    background-color: rgb(209, 242, 242); 
    opacity: 70%; 
    width: 500px;
    height: 210px;
    padding: 15px;
    text-align: justify;
    margin-top: 15px;
}

#Kontak {
    margin-bottom: 30px;
    list-style: georgian;
    width: 350px;
    background-color: rgb(209, 242, 242); 
    opacity: 70%;
    margin-right: 20px;
    float: right;
    padding: 10px;
    font-size: 8;
    font-family: 'Times New Roman', Times, serif;
    outline-color:black; outline-width: 3px;
}

div a{
    color: black;
}
div a:hover {
    color: red;
}